* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    background-color: snow;
}

div {
    padding: 50px;
}

p {
    font-size: 42px;
}

button {
    margin: 0 30px;
    padding: 10px 30px;
    background: none;
    border: 2px solid gray;
    border-radius: 5px;
    color:gray;
    font-size: 36px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .5s, box-shadow .5s;
    box-shadow: 3px 3px 10px gray;
    ;
}

button:hover {
    color: black;
    box-shadow: 3px 3px 10px black;
}